/*title for delete page*/
.deleteHeading {
    margin: 15px;
}

/*message for delete page*/
.deleteMessage {
    margin: 2rem auto;
    font-size: 1.2em;
}

/*buttons for delete page*/
.deleteButton {
    padding: 0.8rem;
    width: 35%;
}