.LandingContent {
    height: 80vh;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LandingDescription {
    font-size: 1em;
    margin: 10% auto;
    width: 80%;
}

.loginLink {
    position: absolute;
    right: 15px;
    top: 2%;
}


.searchButton {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px 30px;
    margin: 0 10px;
    font-size: 1.2em;
    cursor: pointer; 
    border-radius: 30px;

    
    width: 2.2rem;
    height: 2.2rem;
}

.labelDesign {
    position: relative;
}
