.lForm {
    height: 100%;
    margin-top: 10vh;
    background: url(/images/LeavesBorder.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Delius', cursive;
}

.formPage {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.LoginForm {
    height: 90%;
    border: 1px solid black;
    padding: 1em;
    vertical-align: middle;
    width: 90%;
    margin: 0 auto;
    border-radius: 30px;
    /* background: lightgray; */
}

.formTitle {
    font-size: 2em;
    padding-bottom: 20px;
}

.loginDirect {
    margin: 0 auto 15px;
    width: 90%;
}

.user_name, .password {
    font-weight: bold;
}

#loginUserName, #loginPassword {
    border: 1px solid #ddd;
    border-bottom: 1px solid blue;
    display: block;
    font-size: 1.1em;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    width: 100%;
    border-radius: 4px;
}

.loginButton, .registerButton {
    margin: 15px auto 20px;
    order: 1px solid #aaa;
    background-color: #eee;
    font-size: 1.1em;
    border-radius: 10px;
    padding: 8px 12px;
    font-weight: bold;
}

.registerDesc {
    margin-bottom: 5px;
}

.red {
    color: red;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
    font-weight: 600;
}

.demoInstructions {
    margin: 20px;
    border: 1px dotted black;
    padding: 10px;
    background: lightblue;
}

.makeBold {
    font-weight: bolder;
}