/*container for restaurant and buttons associated*/
.restaurantBox {
    border: 1px solid black;
    padding: 5%;
    margin: 5px;
    border-radius: 10px;
}

/*button look on account page*/
.ownerButton {
    display: block;
    text-decoration: none;
    border: 1px solid black;
    color: black;
    padding: 7px;
    margin: 7px;
    border-radius: 10px;
    cursor: pointer;
}

/*div for restaurant title*/
.RestaurantName {
    margin-bottom: 1rem;
}

/*div for button boxes*/
.buttonsboxes {
    margin: 1.3rem auto;
}

/*restaurant title text*/
.rView {
    font-size: 1.6em;
    font-weight: bold;
}

/*message for when no restaurants added*/
.noRestaurants {
    margin: 20px;
    border: 1px dotted blue;
    padding: 10px;
}

/*add restaurant button*/
.addRestButton {
    display: block;
    width: 50%;
    margin: 0 auto 1.5rem;
    background-color: lightgreen;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

/*User remove button*/
.removeButton {
    color: red;
    font-weight: bolder;
    background: lightpink; 
    border-radius: 10px;
    padding: 10px;
}

/*make text red and bold*/
.redandbold {
    color: red;
    font-weight: bold;
}

/*make text green*/
.green {
    color: green;
}