* {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: center;
}

main {
  min-height: 100vh;
}

.content {
  padding: 0;
  width: 100%;
  background: url(/images/editedfood.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}